<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>About Silver Lake</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all" href="css/silver_mobile.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->



</head>
	
<body lang="en" class="clearfix">
		
<div id="header">
       
    <div id="logo">
       <a href="index.html"><img src="images/slu_logo_mobile.gif" width="250" height="100"></a>
    </div> <!--/logo-->
     
   <div class="menu_container">
    	<ul class="clearfix" id="menu">
           <li id="active"><a href="about.html">About Silver Lake</a></li>
        	<li><a href="helping_others.html">Helping Others</a></li>
            <li><a href="getting_connected.html">Getting Connected</a></li>
            <li><a href="learning_opportunities.html">Learning Opportunities</a></li>
        </ul>
  
    </div> <!-- /menu-->
       
</div> <!--end of header-->   
        
<div id="content">

    <div id="main">
        	
        <h2>About <br>Silver Lake</h2>
        
        <p>Ask our members what they like about Silver Lake and you'll get many different answers:</p>
        
        <ul>
        	<li>"Great friends."</li>
            <li>"The opportunity to serve others."</li>
            <li>"The wide variety of music and learning experiences."</li>
            <li>"Thought-provoking sermons."</li>
            <li>"All the activities for kids and families."</li>
		</ul>
        
        <p>First and foremost, we are a community of Christians who participate in what God is doing in the world by being open to God's presence.  We are actively involving ourselves in worship and fellowship, serving others as Christ served, and seeking our own path to wholeness.</p>
		
       <h2>Our Values</h2>
        	<dl>
            	<dt>Celebration:</dt>
                <dd>We believe that gathering together to worship should be an uplifting opportunity to encounter the presence of God. We enjoy a variety of worship styles.</dd>
                
                <dt>Spirituality:</dt>
                <dd>We encourage learning and questioning in an open-minded spiritual environment, leading people of all ages to a growing relationship with God. We are dedicated to helping our children and youth develop in faith through education and fellowship opportunities.</dd>
                
                <dt>Community:</dt>
                <dd>We welcome everyone, and celebrate diversity as a gift. We want to create an environment where every person experiences support and caring, and where the talents of women, men, and children are equally affirmed.</dd>
                
                <dt>Service:</dt>
                <dd>We feel strongly about reaching out in love and compassion to our neighbors near and far. We realize this by our prayers, our gifts and offerings, and in particular our hands-on service. As Christians, we serve by living out God's word in our everyday lives, in the name of Jesus, who came to serve, not to be served.</dd>
            </dl> <!-- /definition list-->
            </dl> <!-- /definition list-->
    </div> <!--end main-->
      	
    <div id="sidebar">
        
          <div id="worship">
                      
              <h4>Sunday Worship</h4>
              
              <ul>
                  <li>9:00am Sunday School <br>(Grades 6-12 / Adult)</li>
                  <li>10:00am Worship Service</li>
                  <li>11:00am Coffee Hour</li>
                  
              </ul>
                      
          </div> <!-- /worship -->
                      
          <div id="findus">
                      
                <h4>Find Us</h4>
                <p>5399 Geneva Avenue North<br>
				Oakdale, Minnesota 55128</p>
                <div class="map">
                <iframe id="gmap" width="225" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5399+Geneva+Avenue+North+Oakdale,+Minnesota+55128&amp;aq=&amp;sll=44.934383,-93.112741&amp;sspn=0.067201,0.169086&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=5399+Geneva+Ave+N,+Oakdale,+Minnesota+55128&amp;z=14&amp;ll=45.026986,-92.983909&amp;output=embed"></iframe>
                <p><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5399+Geneva+Avenue+North+Oakdale,+Minnesota+55128&amp;aq=&amp;sll=44.934383,-93.112741&amp;sspn=0.067201,0.169086&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=5399+Geneva+Ave+N,+Oakdale,+Minnesota+55128&amp;z=14&amp;ll=45.026986,-92.983909" target="_blank">View Larger Map</a></p>
                
               </div> <!--end map-->
     
          </div> <!-- /findus -->
    </div> <!--end sidebar-->
</div> <!-- /content -->  
<div id="footer">

<h4>Contact Us</h4>

<ul>
<li><a href="mailto:Silver_Lake@Live.com" target="_blank">Silver_Lake@Live.com</a></li>
<li>651.773.9397</li>
<li><a href="https://www.facebook.com/silverlake.umc" target="_blank">Facebook</a></li>


</ul>
</div> <!-- /footer -->


</body>
</html>

