@charset "utf-8";


/*Color Scheme, light to dark:
green: #C4CCA2
blue:  #6A7D85
white: #FBFAF9
gray:  #8A8B8B
*/

html {
    height:100%;
    width:100%;
}
h2 {
    line-height: 1em;
    font-size: 180%;
    font-weight: bold;
}
h3 {
    font-size: 140%;
    font-weight:bold;
}
h4 {
    font-size: 140%;
}
body{
    height:100%;
    width:100%;
    font-family: serif;
    overflow: auto;
 }
 /* Removes stupid dotted line nonsense around focused links */
:focus {
    outline: none;
}
input[type=submit] {
    border:1px solid #969696;
    margin:2px;
    border-radius: 3px;
 }
#container {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
 }

form[name=login_form] {
    margin-top: 10px;
}

header {
    width:100%;
    height:10%;
    min-height: 75px;
    border-bottom: 3px solid #6A7D85;
    position: relative;
}
header h1 {
    font-size: 4em;
    position:absolute;
    left:15px;
    top:15px;
}
header form {
    display:inline-block;
    position:absolute;
    right:10px;
    top:10px;
}
header form ul li {
    text-align: right;
}

#main {
    width:1000px;
    height:75%;
    min-height: 550px;
    padding:10px;
    overflow-y: auto;
    position:relative;
}

#main #title {
    margin-bottom: 13px;
}

/*Editor input styling*/
input[name=blog_title] {
    margin-bottom: 5px;
    width:40%;
    min-width: 250px;
}
form[id=submit_post] {
    width:700px;
}

form[id=submit_post] #submit {
    background-color: #C4CCA2;
}
input[type=button] {
    cursor: pointer;
    border:1px solid #969696;
    margin:2px;
    border-radius: 3px;
}
input#new_post {
    background-color: #ABB8F5;
}
form #conf_save {
    width: 70px;
    text-align: center;
    border: 2px solid #FFFBEE;
    border-radius: 2px;
    float: right;
    margin-top: 5px;
}

#sidebar {
    width:250px;
    height:540px;
    padding:10px 0 0 10px;
    position:absolute;
    top:40px;
    left:730px;
    border-left:3px solid #6A7D85;
    overflow: auto;

}
#sidebar ul {
    margin-top: 10px;
    font-size: 1.2em;
    border-top: 2px solid #6A7D85;
    padding-top: 10px;
}
#sidebar ul li {
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 2px 0 2px 4px;
}
#sidebar ul li .conf {
    height: 20px;
    width: 50%;
    margin: 6px 10px 5px 10px;
    padding-top: 2px;
    display: inline-block;
    float: left;
    background-color: orange;
    cursor: pointer;
    display: none;
    text-align: center;
    border-radius: 1px;
}
#sidebar ul li .cancel {
    height: 20px;
    width: 30%;
    margin: 6px 10px 5px 10px;
    padding-top: 2px;
    display: inline-block;
    float: left;
    background-color: orange;
    cursor: pointer;
    display: none;
    text-align: center;
    border-radius: 1px;
}
#sidebar ul li .conf:hover {
    background-color: #CC8400;
}
#sidebar ul li .cancel:hover {
    background-color: #CC8400;
}
#sidebar ul li .list_link {
    width: 85%;
    display: inline-block;
    cursor: pointer;
}
#sidebar ul li #post_type {
    font-size: .7em;
}
#sidebar ul #post_delete {
    float: right;
    width: 10px;
    padding: 0 3px 0 3px;
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2px;
}
#sidebar ul #post_delete:hover {
    background-color: rgba(255, 0, 0, 0.7);
}
#sidebar ul li:nth-child(odd) {
    background-color: #EBEEEF;
}
#sidebar ul li:hover {
    background-color: #C4CCA2;
}
.popup {
    width: 150px;
    height: 70px;
    border: 1px solid #8A8B8B;
    border-radius: 3px;
    background-color: #C4CCA2;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    position:absolute;
    left:300px;
    top:300px;
    z-index:100;
    display:none;
    -webkit-box-shadow:0 0 5px #999; 
    box-shadow:0px 0px 5px #999;
}
#del_popup {
    border: 3px solid rgba(255, 0, 0, 0.7);
}
#submit_choice {
    width: 180px;
    height: 100px;
}
#submit_choice #submit_button {
    margin-top: 10px;
}
#submit_complete {
    height: 30px;
}

footer {
    height:5%;
    min-height: 30px;
    border-top: 3px solid #6A7D85;
    padding:2% 10% 2% 10%;
}
footer ul {
    margin-left: -90px;
}
footer ul li {
    font-size: .9em;
    display: inline;
}

/* Help Page */
#help {
    margin: 20px 0 0 20px;
    width: 700px;
    font-size: 1.2em;
}
#help h4{
    font-size: 1.3em;
    margin-top: 15px;
}
#help strong {
    font-weight: bold;
}
#help #template_button {
    margin: 2px 0 5px 0;
}